In [2]:
import pandas

In [3]:
datas=pandas.read_csv("psm.csv")

In [4]:
datas

          ID  Age  Sex  FHBP  Smoke  Drink  BMI  Hypertension
0        1.0  2.0  1.0   1.0    1.0    1.0  1.0           1.0
1        2.0  1.0  2.0   0.0    1.0    1.0  2.0           0.0
2        3.0  2.0  1.0   0.0    1.0    0.0  3.0           0.0
3        4.0  1.0  2.0   1.0    1.0    1.0  2.0           0.0
4        5.0  1.0  2.0   0.0    1.0    1.0  3.0           0.0
...      ...  ...  ...   ...    ...    ...  ...           ...
1177  1178.0  1.0  2.0   1.0    0.0    0.0  1.0           0.0
1178  1179.0  1.0  2.0   0.0    0.0    0.0  1.0           0.0
1179  1180.0  1.0  2.0   0.0    0.0    0.0  1.0           0.0
1180  1181.0  1.0  2.0   1.0    0.0    0.0  1.0           0.0
1181  1182.0  1.0  2.0   0.0    0.0    0.0  1.0           0.0

[1182 rows x 8 columns]

In [7]:
#高血压的患病率
#求出总人数,求出高血压患病人数
#高血压患病率=高血压患病人数/总人数
all=datas["Hypertension"].count()

In [8]:
all

1182

In [ ]:
dat